[submodule "public"]
	path = public
	url = https://github.com/smyachenkov/smyachenkov.github.io.git
	branch = master

[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
